<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>分类管理</title>
    <link href="../static/images/favicon.ico" rel="icon" th:href="@{/images/me.jpg}" type="image/x-ico">
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

<!--顶部栏-->
<div th:replace="admin/managerheader::navHeader"></div>

<div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a class="item" href="#" th:href="@{/admin/types/input}">新增</a>
                <a class="teal active item" href="#" th:href="@{/admin/types}">列表</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--中间内容-->
<div class="m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="" th:text="|提示： ${message}">提示：操作成功！</div>
        </div>
        <table class="ui compact teal table">
            <thead>
            <tr align="center">
                <th>ID</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" th:each="type,iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">我的故事</td>
                <td>
                    <a class="ui mini teal basic button" href="#"
                       th:href="@{/admin/types/{id}/input(id=${type.id})}">编辑</a>
                    <a class="ui mini red basic button" href="#"
                       onclick="return confirm('确定要删除该分类吗？三思啊! 删了可就没了！')"
                       th:href="@{/admin/types/{id}/delete(id=${type.id})}">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui inverted divided stackable grid">
                        <div align="center" class="three wide column">
                            <a class="item"
                               th:href="@{/admin/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                               th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </div>

                        <div align="center" class="ten wide column">
                            <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span
                                    th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span>
                                个分类</p>
                        </div>

                        <div align="center" class="three wide column">
                            <a class="item"
                               th:href="@{/admin/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                               th:unless="${pageInfo.isLastPage}">下一页</a>
                        </div>
                    </div>
                    <div align="center">
                        <a href="#" th:href="@{/admin/types/input}">
                            <button class="ui teal button m-mobile-wide m-margin-top" type="button"><i
                                    class="pencil icon"></i>新增
                            </button>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部栏-->
<div th:replace="footer::navFooter"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>