<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ONESTAR-留言板</title>
    <link href="../static/images/favicon.ico" rel="icon" th:href="@{/images/me.jpg}" type="image/x-ico">
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

<!--顶部栏-->
<div th:replace="noIndexheader::navHeader"></div>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img alt="" class="ui m-bg image" src="../static/images/messagebg.jpg" style="width: 100%;height: 100%"
         th:src="@{/images/messagebg.jpg}">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div align="center" class="m-font-size-title m-right-bottom" style="font-family:'STXingkai'">留言板</div>
            <div align="center" class="m-font-size-text-init-title m-margin-top">虽然只是短暂的擦身，相遇与分别，尽管如此，我却仍然想珍惜这所有的一切
            </div>

        </div>
    </div>
</div>


<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
    <div class="ui container m-opacity box-shadow-max">
        <!--                新增留言-->
        <div class="ui form" id="message-form">
            <input name="parentMessage.id" type="hidden" value="-1">
            <!--                    留言区-->
            <div class="field">
                <textarea name="content" placeholder="请输入留言信息..."></textarea>
            </div>
            <div class="ui grid">
                <!--                    输入姓名-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="nickname" placeholder="Id"
                                   th:value="${session.user}!=null ? ${session.user.nickname}"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!--                        输入邮箱-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input name="email" placeholder="Email"
                                   th:value="${session.user}!=null ? ${session.user.email}"
                                   type="text">
                        </div>
                    </div>
                </div>

                <div class="right aligned six wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <button class="ui teal button m-mobile-wide" id="messagepost-btn" type="button"><i
                                class="edit icon"></i>发布
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--留言区-->
        <div class="ui bottom attached m-margin-top">
            <div class="ui teal segment" id="message-container">
                <div th:fragment="messageList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">留言</h3>
                        <div class="comment" th:each="message : ${messages}">
                            <a class="avatar">
                                <img src="../static/image/me.jpg" th:src="@{${message.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${message.nickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini"
                                         th:if="${message.adminMessage}">栈主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${message.content}">太赞了！</div>
                                <div class="actions">
                                    <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                       onclick="reply(this)"
                                       th:attr="data-messageid=${message.id},data-messagenickname=${message.nickname}">回复</a>
                                    <a class="delete" href="#" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')"
                                       th:href="@{/messages/{id}/delete(id=${message.id})}"
                                       th:if="${session.user}">删除</a>
                                </div>
                            </div>
                            <!--子集留言-->
                            <div class="comments" th:if="${#arrays.length(message.replyMessages)}>0">
                                <div class="comment" th:each="reply : ${message.replyMessages}">
                                    <a class="avatar">
                                        <img src="../static/image/me.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini"
                                                 th:if="${reply.adminMessage}">栈主
                                            </div>
                                            &nbsp;<span class="m-teal" th:text="|@ ${reply.parentNickname}|">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！</div>
                                        <div class="actions">
                                            <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                               onclick="reply(this)"
                                               th:attr="data-messageid=${reply.id},data-messagenickname=${reply.nickname}">回复</a>
                                            <a class="delete" href="#"
                                               onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')"
                                               th:href="@{/messages/{id}/delete(id=${reply.id})}"
                                               th:if="${session.user}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

    </div>
</div>


<br>
<br>
<br>


<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui teal icon button"><i class="chevron up icon"></i> </a>
</div>


<!--底部栏-->
<div th:replace="footer::navFooter"></div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>
    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();


    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    // 初始化加载
    $(function () {
        $("#message-container").load(/*[[@{/messagecomment}]]*/"messagecomment");
    });

    // 校验信息
    $('#messagepost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });

    //发送请求给后端
    function postData() {
        $("#message-container").load(/*[[@{/messages}]]*/"", {
            "parentMessage.id": $("[name='parentMessage.id']").val(),
            // "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#message-container'),500);
            clearContent();
        });
    }

    // 清除表单
    function clearContent() {
        $("[name='nickname']").val('');
        $("[name='email']").val('');
        $("[name='content']").val('');
        $("[name='parentMessage.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var messageId = $(obj).data('messageid');
        var messageNickname = $(obj).data('messagenickname');
        $("[name='content']").attr("placeholder", "@" + messageNickname).focus();
        $("[name='parentMessage.id']").val(messageId);
        $(window).scrollTo(0, 500);
    }

</script>
</body>
</html>