<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<!--底部栏-->
<div th:fragment="navHeader">
    <!--导航-->
    <nav class="gird-header">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">一一之家</h2>
                <!--<div class="right m-item item m-mobile-hide">-->
                <a class="m-item item m-mobile-hide " href="#" th:href="@{/}"><i class="home icon"></i>首页</a>
                <a class="m-item item m-mobile-hide" href="#" th:href="@{/types/-1}"><i class="clone outline icon"></i>分类</a>
                <a class="m-item item m-mobile-hide" href="#" th:href="@{/archives}"><i class="clock icon"></i>时间轴</a>
                <!--                <a href="#" th:href="@{/music}" class="m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>-->
                <a class="active m-item item m-mobile-hide" href="#" th:href="@{/message}"><i class="book icon"></i>留言板</a>
                <!--                <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide"><i-->
                <!--                        class="pencil alternate icon"></i>友人帐</a>-->
                <a class="m-item item m-mobile-hide" href="#" th:href="@{/picture}"><i class="image icon"></i>照片墙</a>
                <a class="m-item item m-mobile-hide" href="#" th:href="@{/about}"><i class="info icon"></i>关于我</a>
                <!--</div>-->
                <div class="right m-item item m-mobile-hide">
                    <form action="#" method="post" name="search" target="_blank" th:action="@{/search}">
                        <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                            <input name="query" placeholder="Search...." style="color: white" th:value="${query}"
                                   type="text">
                            <i class="search link icon" onclick="document.forms['search'].submit()"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="ui menu toggle black icon button m-right-top m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </nav>
</div>
</body>



