<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>一一之家-分类</title>
    <link href="../static/images/favicon.ico" rel="icon" th:href="@{/images/me.jpg}" type="image/x-ico">
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

<!--顶部栏-->
<div th:replace="noIndexheader::navHeader"></div>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img alt="" class="ui m-bg image" src="../static/images/typebg.jpg" style="width: 100%;height: 100%"
         th:src="@{/images/typebg.jpg}">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -580px;">
            <div align="center" class="m-font-size-title m-right-bottom" style="font-family:'STXingkai'">文章分类</div>
            <div align="center" class="m-font-size-text-init-title m-margin-top">
                好的文笔，记录生活的点点滴滴，生活，无非如此
            </div>
        </div>
    </div>
</div>


<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
    <div class="ui container">
        <div class="ui segment m-padded-tb-large m-opacity">
            <div align="center" class="ui container">
                <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                    <a class="ui basic  button" href="#" th:classappend="${type.id==activeTypeId} ? 'teal'"
                       th:href="@{/types/{id}(id=${type.id})}" th:text="${type.name}">好文</a>
                    <div class="ui basic  left pointing label" th:classappend="${type.id==activeTypeId} ? 'teal'"
                         th:text="${#arrays.length(type.blogs)}">24
                    </div>
                </div>
            </div>
        </div>

        <div class="ui top attached teal m-opacity segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a class="m-black m-title-font" href="#" target="_blank"
                                                 th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">生活点滴</a>
                        </h3>
                        <p class="m-text" th:text="|${blog.description}......|">
                            每一天都是新开始，新希望，行动起来吧</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img alt="" class="ui avatar image" src="../static/images/me.jpg"
                                             th:src="@{${blog.avatar}}">
                                        <div class="content"><a class="header" href="#" target="_blank"
                                                                th:href="@{/about}" th:text="${blog.nickname}">一一</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">128</span>
                                    </div>
                                    <div class="item">
                                        <i class="comment outline icon"></i> <span
                                            th:text="${blog.commentCount}">20</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a class="ui teal basic label m-padded-tiny m-text-thin" href="#" target="_blank"
                                   th:text="${blog.typeName}">好文</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                            <img alt="" class="ui rounded image" src="../static/images/backimg1.jpg"
                                 th:src="@{${blog.firstPicture}}">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--分页-->
        <div class="ui bottom attached segment m-opacity stackable grid">
            <div align="center" class="three wide column">
                <a class="item" th:href="@{/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                   th:unless="${pageInfo.isFirstPage}">上一页</a>
            </div>

            <div align="center" class="ten wide column">
                <p><span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span></p>
            </div>

            <div align="center" class="three wide column">
                <a class="item"
                   th:href="@{/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                   th:unless="${pageInfo.isLastPage}">下一页</a>
            </div>
        </div>

    </div>
</div>

<br>
<br>


<!--置顶图标-->
<div class="m-padded-tb-large m-fixed m-right-bottom" id="toolbar">
    <a class="ui teal icon button" href="#"><i class="chevron up icon"></i> </a>
</div>


<!--底部栏-->
<div th:replace="footer::navFooter"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"
        th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>


<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction == 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    })


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>